<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <!-- Swiper CSS-->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@700;800&display=swap" rel="stylesheet">
    <!-- Material icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- all.css -->
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>

    <% if (navbar) { %>
      <%- include('templates/navbar.ejs'); %>
    <% } %>

    <%- contents %>

    <% if (title === 'ALOHA | Discover your ideal hotel') { %>
      <%- include('templates/subscribe-l.ejs'); %>
    <% } %>

    <% if (subscribe) { %>
      <%- include('templates/subscribe.ejs'); %>
    <% } %>


    <% if (footerFull) { %>
      <%- include('templates/footer-full.ejs'); %>
    <% } %>


    <!-- Swiper JS-->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper('.swiper-container', {
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      });
    </script>
    <!-- Vendors.js -->
    <script src="./assets/js/vendors.js"></script>
    <!-- all.js -->
    <script src="./assets/js/all.js"></script>
  </body>

</html>